@import url('../base.css');

/* ------------------------- */
/* User Likes styling */
/* ------------------------- */

.likes__text {
    text-align: center;
}

.likes__title {
    font-size: var(--fs-h1);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.likes__description {
    font-size: var(--fs-body);
    margin-bottom: 1rem;
    color: hsl(var(--primary-very-dark-blue));
}

/* Tablet */
@media (min-width: 44em) {
    .likes__title {
        font-size: 2.5rem;
    }
}