@import url('main.css');

/* ------------------------- */
/* Anon homepage styling */
/* ------------------------- */

.home-anon__text {
    margin-top: 3rem;
    text-align: center;
}

.home-anon__title {
    margin-bottom: 1.5rem;
    font-size: var(--fs-h1);
}

.home-anon__description {
    width: 60%;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-size: var(--fs-body);
}

.home-anon__title-span {
    display: block;
}

.home-anon__search-form {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
}

.home-anon__search-form__input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding-inline: 1rem;
}

.home-anon__search-form__input:focus {
    border: none;
}
  
.home-anon__search-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.home-anon__search-button {
    width: 3.5rem;
    aspect-ratio: 1;
    background-color: hsl(var(--primary-violet));
    border: none;
}

.home-anon_search-button-icon {
    margin-inline: auto;
}

/* Tablet */
@media (min-width: 44em) {
    .home-anon__title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    
    .home-anon__description {
        font-size: 1.25rem;
    }

    .home-anon__search-form__input {
        width: 25rem;
    }
}

/* Desktop */
@media (min-width: 60em) { 
    .home-anon__title {
        font-size: 3.5rem;
    }
    
    .home-anon__description {
        font-size: 1.5rem;
        width: 45%;
    }

    .home-anon__search-form__input {
        width: 25rem;
    }
}
