<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jobsquare</title>
  <script src="https://kit.fontawesome.com/9174e86864.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navigation">
    <div class="navigation__items">
      <a href="/" class="navigation__logo">jobsquare</a>
      <!-- <button>
        <span></span>
      </button> -->
      <div>
        <ul class="navigation__links">
          {% if not g.user %}
          <li><a class="navigation__link" href="/signup">Sign up</a></li>
          <li><a class="navigation__link" href="/login">Log in</a></li>
          {% else %}
          <li><a class="navigation__link" href="/likes"><i class="fa-solid fa-heart"></i></a></li>
          <li><a class="navigation__link" href="/profile">Profile</a></li>
          <li><a class="navigation__link" href="/logout">Log out</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
  
  <script src="../static/js/app.js"></script>
</body>
</html>