<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Job Board</title>
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<body>
  <nav>
    <a href="/" class="navbar-brand"><img src="/static/images/job-board-logo.png" alt="logo" /></a>
    <span>Job Board</span>
    <ul>
      {% if not g.user %}
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      {% else %}
      <li><a href="/likes">Likes</a></li>
      <li><a href="/profile">{{ g.user.username }}</a></li>
      <li><a href="/logout">Log out</a></li>
      {% endif %}
    </ul>
  </nav>

  {% block content %}
  {% endblock %}

</body>
</html>