{% extends 'base.html' %}
{% block content %}

  <section class="home__section">
    <div class="home__text">
      <h1 class="home__title">Find your next dream job<span class="home__title-span">with Jobsquare.</span></h1>
      <p class="home__description">Start your search today and see postings from your favorite companies.</p>
    </div>
    <div class="home__buttons">
      <a href="/signup"><button class="button-dark">Sign up</button></a>
      <a href="/login"><button class="button-light">Login</button></a>
    </div>
  </section>
  
{% endblock %}