{% extends 'base.html' %}
{% block content %}

<div class="job__info">
    <div class="company__details">
        <img class="company__logo" height="24" width="54" src='{{job.company.logo_img}}'>
        <h2 class="company__title">{{job.company.name}}</h2>
        <a href="#">
            <button class="company__button-view | button-light">View company</button>
        </a>
    </div>
    <div class="job__details">
        <div>
            <p class="job__posted">Posted {{ job.created_at }}</p>
            <i class="fa-regular fa-bookmark | job__button-like"></i>
        </div>
        <h2 class="job__title">{{ job.name }}</h2>
        <p class="job__location">{{ job.location.name }}</p>
        <a href="{{ job.landing_page_url }}" target="_blank">
            <button class="job__apply-view | button-dark">Apply Now</button>
        </a>
        {{ job.description|safe }}
    </div>
    <div class="job__apply-container-bottom">
        <a href="{{ job.landing_page_url }}" target="_blank">
            <button class="job__apply-view-bottom | button-dark">Apply Now</button>
        </a>
    </div>
</div>

{% endblock %}