{% extends 'base.html' %}

{% block content %}
  <div class="job__filtering">
    <form action="/jobs" class="job__filtering-search-form">
      <img src="../static/assets/desktop/icon-search-violet.svg" height="24" width="24" class="job__filter-icon-search">
      <div class="job__filtering-category">
        <input type="text" name="category-search" id="category-search" list="category-search-options" placeholder="Job category..." class="home-anon__search-form__input">
        <datalist id="category-search-options">
          {% for category in categories %}
          <option value="{{ category.name }}">
          {% endfor %}
        </datalist>
      </div>

      <img src="../static/assets/desktop/icon-location.svg" height="24" width="17" class="job__filter-icon-search">
      <div class="job__filtering-location">
        <input type="text" name="location-search" id="location-search" list="location-search-options" placeholder="Location..." class="home-anon__search-form__input">
        <datalist id="location-search-options">
          {% for location in locations %}
          <option value="{{ location.name }}">
          {% endfor %}
        </datalist>
      </div>
      <div class="job__filter-right">
        <!-- <img src="../../static/assets/mobile/icon-filter.svg" id="job__filter-form-icon" width="20" height="20"> -->
        <button class="button-light" id="job__filter-form-icon">More Filters</button>
        <button type="submit" class="button-dark">Search</button>
      </div>
    </form>
  </div>

  <div class="job__filtering-btn">
    <div class="job__filter-form" id="job__filter-form">
      <form id="job__filter-form-company" class="job__filter-form-company">
        <input type="text" name="company-search" id="company-search" placeholder="Company" class="job__filter-input">
        
        <ul name="experience-level-search" id="experience-level-search" class="job__filter-form-exp-level">
          <li><input type="checkbox" name="checklist" value="Internship">Internship</li>
          <li><input type="checkbox" name="checklist" value="Entry Level">Entry Level</li>
          <li><input type="checkbox" name="checklist" value="Mid Level">Mid Level</li>
          <li><input type="checkbox" name="checklist" value="Senior Level">Senior Level</li>
        </ul>
        
        <button type="submit">Filter Results</button>
      </form>
    </div>
  </div>

  <div class="job__container">
    <div class="job__list">
      <div class="job__cards">
      {% if jobs %}
          {% for job in jobs %}
            <a href="/jobs/{{ job.id }}">
              <div class="job__card">
                <div class="job__image">
                  <img class="job__logo" height="48" width="108" src='{{job.company.logo_img}}'>
                </div>
                <div class="job__text">
                  <p class="job__posted">Posted {{ job.created_at }}</p>
                  <h3 class="job__title">{{ job.name }}</h3>
                  <p class="job__company">{{ job.company.name }}</p>
                  <p class="job__location">{{ job.location.name }}</p>
                  <p class="job__location">{{ job.category.name }}</p>
                </div>
                <form method="POST" action="/jobs/{{ job.id }}/like">
                  <button class="job__button-like">
                    {% if job.id in liked_jobs %}
                    <i class="fa-solid fa-bookmark"></i> 
                    {% else %}
                    <i class="fa-regular fa-bookmark"></i> 
                    {% endif %}
                  </button>
                </form>
              </div>
            </a>
          {% endfor %}
          </div>
      {% else %}
          <h1>No jobs matches</h1>
          <p>Uh oh...try changing your preferences to find a match. Don't give up just yet!</p>
          <a href="/profile"><button>Change it up</button></a>
      {% endif %}
    </div>
  </div>
  
{% endblock %}
