{% extends 'base.html' %}
{% block content %}

  <div>
    <div>
      <h1>Edit Your Profile</h1>
      <p>Update your job preferences to see new jobs you might be interested in.</p>
      <form method="POST" id="user_form" class="row g-3">
        {{ form.hidden_tag() }}
          {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span>{{ error }}</span>
          {% endfor %}
          <div>
            {{ field.label(class="form-label") }}
            {{ field(class="form-control, form-select") }}
          </div>
          {% endfor %}

          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <span>
              {{ error }}
              </span>
            {% endfor %}
          {% endif %}
          <div>
            {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
          </div>
  
        <a href="/"><button>Save Preferences</button></a>
      </form>
        <a href="/"><button>Cancel</button></a>
    </div>
  </div>

{% endblock %}