{% extends 'base.html' %}
{% block content %}

  <div>
    <div>
      <div>
        {% if likes %}
          <div class="likes__text"> 
            <h1 class="likes__title">Your saved jobs</h1>
          </div>
          <div class="job__cards">
            {% for job in likes %}
              <a href="/jobs/{{ job.id }}">
                <div class="job__card">
                  <div class="job__image">
                    <img class="job__logo" height="48" width="108" src='{{job.company.logo_img}}'>
                  </div>
                  <div class="job__text">
                    <p class="job__posted">Posted {{ job.created_at }}</p>
                    <h3 class="job__title">{{ job.name }}</h3>
                    <p class="job__company">{{ job.company.name }}</p>
                    <p class="job__location">{{ job.location.name }}</p>
                  </div>
                  <form method="POST" action="/jobs/{{ job.id }}/like">
                    <button class="job__button-like">
                      {% if job.id in liked_jobs %}
                      <i class="fa-solid fa-bookmark"></i> 
                      {% else %}
                      <i class="fa-regular fa-bookmark"></i> 
                      {% endif %}
                    </button>
                  </form> 
                </div>
              </a>
              {% endfor %}
          </div>
        {% else %}
            <div class="likes__text"> 
              <h1 class="likes__title">No saved jobs</h1>
              <p class="likes__description">Uh oh! Your next job is out there...you just need to find the job posting.</p>
              <a href="/"><button class="button-dark">Keep Looking</button></a>
            </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}