{% extends 'base.html' %}
{% block content %}

  <div class="container">
    <div class="card">
      <div class="vstack gap=2">
        <ul>
        {% for job in likes if jobs != '' %}
          <div class="job-box">
            <a href="/jobs/{{ job.id }}"><h3>{{ job.name }}</h3></a>
            <p>At {{ job.company }} - {{ job.location }}</p>
            <a href="{{ job.landing_page_url }}" target="_blank"><button class="btn btn-secondary">Apply</button></a>
            <a href="/jobs/{{ job.id }}"><button class="btn btn-primary">View job</button></a>
            <form method="POST" action="/jobs/{{ job.id }}/like">
              <button class="btn btn-sm">
                {% if job.id in liked_jobs %}
                <i class="fa-solid fa-heart"></i> 
                {% else %}
                <i class="fa-regular fa-heart"></i> 
                {% endif %}
              </button>
            </form> 
          </div>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}