{% extends 'base.html' %}
{% block content %}

  <div>
    <div>
      <div>
        {% if likes %}
          {% for job in likes %}
            <div class="job-box">
              <a href="/jobs/{{ job.id }}"><h3>{{ job.name }}</h3></a>
              <p>At {{ job.company.name }} - {{ job.location.name }}</p>
              <a href="{{ job.landing_page_url }}" target="_blank"><button>Apply</button></a>
              <a href="/jobs/{{ job.id }}"><button>View job</button></a>
              <form method="POST" action="/jobs/{{ job.id }}/like">
                <button>
                  {% if job.id in liked_jobs %}
                  <i class="fa-solid fa-heart"></i> 
                  {% else %}
                  <i class="fa-regular fa-heart"></i> 
                  {% endif %}
                </button>
              </form> 
            </div>
          {% endfor %}
        {% else %}
          <h1>No saved jobs</h1>
          <p>Uh oh! Your next job is out there...you just need to find the job posting.</p>
          <a href="/"><button>Keep Looking</button></a>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}