{% extends 'base.html' %}
{% block body_class %}onboarding{% endblock %}
{% block content %}

  <div> 
    <div>
      <h1>Welcome back!</h1>
      <p>Log in below to access your account, see your saved jobs, and more.</p>

      <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span>{{ error }}</span>
          {% endfor %}
          <div>
            {{ field.label(class="form-label") }}
            {{ field(class="form-control") }}
          </div>
        {% endfor %}

        <a href="/"><button>Login</button></a>
      </form>
    </div>
  </div>

{% endblock %}