{% extends 'base.html' %}
{% block body_class %}onboarding{% endblock %}
{% block content %}

  <div class="container"> 
    <div>
      <h2>Welcome back</h2>

      <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <label>{{ field.label(class="form-label") }}</label>
          {{ field(class="form-control") }}
        {% endfor %}

        <a href="/"><button class="btn btn-primary">Login</button></a>
      </form>
    </div>
  </div>

{% endblock %}