{% extends 'base.html' %}
{% block body_class %}onboarding{% endblock %}
{% block content %}

  <div class="container">
    <div class="container-box">
      <h2>Join Job Board today</h2>
      <p>Sign up now to create your account, set preferences, and view your personalized list of job postings.</p>

      <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <div class="mb-3">
            {% if field.name == 'first_name' %}
              {{ field.label(class="form-label") }}
              {{ field(class="form-control") }}
            {% elif field.name == 'last_name' %}
              {{ field.label(class="form-label") }}
              {{ field(class="form-control") }}
            {% elif field.name == 'email' %}
              {{ field.label(class="form-label") }}
              {{ field(class="form-control") }}
            {% elif field.name == 'username' %}
              {{ field.label(class="form-label") }}
              {{ field(class="form-control") }}
            {% elif field.name == 'password' %}
              {{ field.label(class="form-label") }}
              {{ field(class="form-control") }}
            {% else %}
              {{ field.label(class="form-label") }}
              {{ field(class="form-control, form-select") }}
            {% endif %}
          </div>
        {% endfor %}

        <a href="/"><button class="btn btn-primary">Sign me up!</button></a>
      </form>
    </div>
  </div>

{% endblock %}